

<div class="mb-4">
	<input type="submit" asp-action="@ViewData["Action"]" class="btn btn-outline-success text-capitalize"
		   value="Save"> <span class="text-white"> | </span>
	<a asp-action="Index" asp-asp-controller="Home" class="btn btn-outline-blue-primary">Cancel</a>
</div>

