@model BookViewModel
@{
	ViewData["Title"] = "Add Book";
	Layout = "~/Views/Book/Shared/BooksFormContainer.cshtml";
	ViewData["Action"] = "AddBook";

	var BookCategories = new SelectList(ViewBag.BookCategories, "Id", "Name");
}

<div class="mb-3">
	<h2>Add Book</h2>
</div>
<div class="mb-3">
	<input class="form-control  py-2 bg-transparent"
		   placeholder="@Html.DisplayNameFor(m => m.Name)" asp-for="Name">
</div>
<div class="mb-3">
	<textarea class="form-control py-2 bg-transparent"
			  placeholder="@Html.DisplayNameFor(m => m.Author)" asp-for="Author"></textarea>
</div>

<div class="mb-3">
	<textarea class="form-control form-control py-2 bg-transparent"
			  placeholder="@Html.DisplayNameFor(m => m.Description)" asp-for="Description"></textarea>
</div>

<div class="mb-3">
	<select class="form-control py-2 bg-transparent" asp-for="CategoryId" asp-items="@BookCategories">
		<option disabled selected>--- Choose Category ---</option>
	</select>
</div>


<partial name="~/Views/Book/Shared/FormsButtonsPartialView.cshtml" view-data="ViewData" />