@model BookCategoryViewModel
@{
	ViewData["Title"] = "AddCategory";
	Layout = "~/Views/Book/Shared/BooksFormContainer.cshtml";
}

<div class="mb-3">
	<h2>Add category</h2>
</div>
<div class="mb-3">
	<input class="form-control form-control py-2 bg-transparent"
		   placeholder="@Html.DisplayNameFor(m => m.Name)" asp-for="Name">
</div>

<div class="mb-3">
	<textarea class="form-control form-control py-2 bg-transparent"
			  placeholder="@Html.DisplayNameFor(m => m.Description)" asp-for="Description"></textarea>
</div>

<div class="mb-4">
	<input type="submit" asp-action="AddCategory" class="btn btn-outline-success text-capitalize"
		   value="Save"> <span class="text-white"> | </span>
	<a asp-action="Index" asp-asp-controller="Home" class="btn btn-outline-blue-primary">Cancel</a>
</div>