@model BookCategoryViewModel
@{
	ViewData["Title"] = "Add Book Category";
	Layout = "~/Views/Book/Shared/BooksFormContainer.cshtml";

	ViewData["Action"] = "AddCategory";
}

<div class="mb-3">
	<h2>Add category</h2>
</div>
<div class="mb-3">
	<input class="form-control form-control py-2 bg-transparent"
		   placeholder="@Html.DisplayNameFor(m => m.Name)" asp-for="Name">
</div>

<div class="mb-3">
	<textarea class="form-control form-control py-2 bg-transparent"
			  placeholder="@Html.DisplayNameFor(m => m.Description)" asp-for="Description"></textarea>
</div>

<partial name="~/Views/Book/Shared/FormsButtonsPartialView.cshtml" view-data="ViewData" />